{% extends 'page/page.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %} 

{% block pageContent %}

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="summary">
        <div class="summary-about">

        </div>
        <div class="summary-skill">

        </div>
        <div class="summary-passion">

        </div>
        <div class="summary-realization">

        </div>
    </div>

    <div class="services">
        {% for service in services %}
            <div class="services-card">
                <p class="service-title"> {{ service.name }} </p>
                {% if service.subtitle is defined %}
                    <p class="service-subtitle"> {{ service.subtitle }} </p>
                {% endif %}
                <p class="service-description"> {{ service.description }} </p>
            </div>
        {% endfor %}
    </div>

    <div class="skills">
        {% for skill in skills %}
            <div class="skills-logo">
                <img src="{{ skill.badge }}" alt="{{ skill.name }}" class="skill-image">
            </div>
        {% endfor %}
    </div>

    <div class="contact">
        <div class="passions-logo">
            <img src="#" alt="name" class="passion-image">
        </div>
    </div>
{% endblock %}