{% extends 'page/page.html.twig' %}

{% block pageContent %}
    <div class="page-pannel">
        <div class="text-bubble">
            <div class="row">

            </div>
            <img src="character"  alt="perso"/>
        </div>
    </div>
    <div class="page-pannel">
        <h2> {{ "about.skill.title" | trans({}, 'about') }} </h2>
        <div class="skills" >
            <p> Skill title placeholder </p>
            <img src="skill" alt="skill"/>
            <progress value="30" max="100"> 10% </progress>
        </div>
        <div class="skills" >
            <p> Skill title placeholder </p>
            <img src="skill" alt="skill"/>
            <progress value="40" max="100"> 40% </progress>
        </div>
    </div>
    <div>
        <h2> {{ "about.background.title"  | trans({}, 'about') }} </h2>
        <div class="background" >
            <h3> Background title placeholder </h3>
            <p> Background text placeholder </p>
            <img src="background" alt="background"/>
        </div>
    </div>
    <div class="page-pannel">
        <h2> {{ "about.convinced" | trans({}, 'about') }} <br> {{ "about.meet" | trans({}, 'about') }} </h2>
        <a href="#" class="about-contact" >{{ "about.contactme" | trans({}, 'about') }}</a>
        <a href="#" class="about-contact" >{{ "about.cv" | trans({}, 'about') }}</a>
    </div>
{% endblock %}
